* {
  box-sizing: border-box;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: inherit;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  background-color: #f8f8ed;
  color: #424d61;
  scroll-behavior: smooth;
}

p {
  font-size: 14px;
}

//========================
// Scrollbar customization
//========================

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: silver;
  border-radius: 3px;
}

// header styles
//==============
.header-container {
  width: 100%;
  padding: 0 16px;
  background-color: white;
}

header {
  float: left;
  padding: 5px 20px;

  h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 22px;
    transform: scaleX(1.1);
    //margin-left: 40px;
  }
  span {
    text-transform: uppercase;
    font-weight: 800;
    background-color: royalblue;
    color: white;
    display: inline-block;
    width: 24px;
    text-align: center;

    //border-radius: 5px;
  }
  span + span {
    margin-left: -3px;
  }
}

.topnav {
  float: right;
  vertical-align: middle;
  overflow: hidden;
  //background-color: #333;
  padding: 0;
  position: relative;
  top: 10px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    float: right;
  }
  a {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    &:hover {
      background-color: #f1f1f1;
      color: black;
    }
  }
}

// left column styles
//===================
.leftcolumn {
  float: left;
  width: 75%;
}

// right column styles
//====================
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  //background-color: #f1f1f1;
}

// card styles
//============
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  position: relative;

  .card-title {
    font-size: 10px;
    font-weight: 500;
    color: #777;
    margin-top: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

// footer styles
//==============

footer {
  padding: 20px;
  text-align: center;
  background-color: white;
  color: white;
  margin-top: 20px;
}

@media screen and (max-width: 769px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }

  .topnav,
  .topnav li {
    float: none;
    width: 100%;
  }
  .h1 {
    float: none;
  }
}

@media screen and (max-width: 481px) {
  .file-container {
    flex-direction: column;
  }
}

.digits-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin: 0 auto;
}
.digits-col {
  font-size: 12px;
  padding: 20px;
  //background-color: lightblue;
  border: 1ps solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;

  .digits-info {
    font-size: 24px;
    font-weight: 600;
    color: royalblue;
  }
}

textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  display: block;
  color: #333;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  resize: none;
  cursor: auto;
}
textarea:focus {
  border: 1px solid lightblue;
  box-shadow: 0 0 10px rgba(173, 216, 230, 1);
}

.file-container {
  padding: 20px;
  position: relative;
  border: 1px dashed #ccc;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 40px;
  }
  input[type="file"] {
    height: 0;
    position: relative;
    width: 0;
  }

  .drag-title {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
  }
}

.button {
  border: none;
  background-color: royalblue;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5) inset;
  cursor: pointer;

  &:hover {
    background-color: lighten($color: rgb(65, 105, 225), $amount: 5);
  }
  &:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) inset;
    position: relative;
    top: 2px;
  }
}

.statics {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;

  li {
    font-size: 10px;
    padding: 5px 0;
    font-weight: 500;
  }
}

.error {
  opacity: 0;
  position: absolute;
  bottom: 4px;
  left: 32px;
  padding: 5px 10px;
  background-color: crimson;
  color: white;
  font-size: 12px;
  border-radius: 0px 10px;
  transition: opacity 1s ease-in;
}

.error.show {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
