* {
  box-sizing: border-box;
  --theme-color: #04aa6d;
  --gray: rgb(246, 247, 248);
  --border-color: #e8e9ea;
  --green: rgb(165, 214, 102);
  --blue: #2196f3;
  --orange: #ff9800;
  --red: #f44336;
}

body {
  margin: 0 auto;
  box-sizing: inherit;
  font-family: Helvetica, sans-serif;
  //background-image: linear-gradient(to bottom, rgb(246, 247, 248), white);
  background: #d3d0c9;
  scroll-behavior: smooth;
}

p {
  font-size: 14px;
}

// Scrollbar customization

::-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-thumb {
  background-color: #9e998d;
  border-radius: 0px;
}

// header styles

.topbar {
  background: white;
  border-bottom: 1px solid var(--border-color);
  padding: 0 20px;
}
.header-container {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 12px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

header {
  float: left;
  padding: 0px 0px;

  h1 {
    margin: 14px 0;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    font-size: 24px;
  }

  span {
    text-transform: uppercase;
    font-weight: 800;
    background-color: var(--theme-color);
    color: white;
    display: inline-block;
    width: 24px;
    text-align: center;
  }

  span + span {
    margin-left: -3px;
  }
}

main,
.description {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 0px 0;
}

// left column styles

.leftcolumn {
  float: left;
  width: 75%;
}

// right column styles

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  //background-color: #f1f1f1;
}

// card styles

.card {
  background-color: white;
  padding: 20px;
  margin-top: 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(16, 10, 9, 0.15);
  border: 0px solid var(--border-color);
  position: relative;

  .card-title {
    font-size: 10px;
    font-weight: 500;
    color: #777;
    margin-top: 0;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

// footer styles

footer {
  text-align: center;
  background-color: white;
  border-top: 1px solid var(--border-color);
  color: #333;
  font-size: 12px;
  margin-top: 20px;
  padding: 5em 20px;
  p {
    font-size: 10px;
  }
  .container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
  padding: 0 0px;
}

ul li:not(:last-of-type) {
  margin-right: 50px;
}
a {
  padding: 8px 0px;
  text-decoration: none;
  color: #333;

  &:hover {
    border-bottom: 2px solid #333;
  }
}

@media screen and (max-width: 1048px) {
  main,
  .description {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 769px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .topbar {
    padding: 20px;
  }

  .topnav,
  .topnav li {
    float: none;
    width: 100%;
  }
  .topnav {
    ul {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
    }
    li {
      display: inline;

      border: 1px solid #ddd;
    }
    li:not(:last-child) {
      border-bottom: none;
    }

    a {
      display: block;
      padding: 10px 20px;
      border: none;

      &:hover {
        background-color: #ddd;
      }
    }
  }
  .h1 {
    float: none;
  }
  .file-container {
    flex-direction: column;
  }

  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 481px) {
  li:not(:last-of-type) {
    margin-right: 5px;
  }
}

.digits-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin: 0 auto;
}
.digits-col {
  font-size: 12px;
  padding: 0 20px 20px;
  //background-color: lightblue;
  border: 1ps solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;

  .digits-info {
    font-size: 24px;
    font-weight: 600;
    color: var(--theme-color);
    margin-top: 10px;
  }
}

textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  display: block;
  color: #333;
  border: 1px solid var(--border-color);
  outline: none;

  resize: none;
  cursor: auto;
}
textarea:focus {
  border: 1px solid var(--theme-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.file-container {
  padding: 20px;
  position: relative;
  border: 1px dashed #ccc;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 40px;
  }
  input[type="file"] {
    height: 0;
    position: relative;
    width: 0;
  }

  .drag-title {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.button {
  border: none;
  background-color: var(--theme-color);
  color: white;
  padding: 16px 30px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

  i {
    margin-right: 0.5em;
  }
  cursor: pointer;

  &:hover {
    background-color: darken($color: #04aa6d, $amount: 5);
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.statics {
  font-family: "Courier New", Courier, monospace;

  ul {
  }
  li {
    display: block;
    font-size: 12px;
    padding: 5px 0;
    font-weight: 500;
    //background-color: #eee;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  }
}

.error {
  opacity: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;

  padding: 25px 10px;
  background-color: var(--red);
  color: white;
  font-size: 12px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 6px 15px rgba(0, 0, 0, 0.18);
  transition: opacity 1s ease-in;
}

.error.show {
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

#logo span:nth-child(1) {
  background-color: var(--theme-color);
}
#logo span:nth-child(2) {
  background-color: var(--blue);
}
#logo span:nth-child(3) {
  background-color: var(--orange);
}
#logo span:nth-child(4) {
  background-color: var(--red);
}

.description {
  h2 {
    font-weight: 300;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
  }
  p {
    color: #777;
    line-height: 1.6;
  }

  li {
    padding: 8px;
    color: var(--blue);
  }
}
